### Project files
/*-objects/*/src/*/*/*
!/*-objects/*/src/*/*/e_*
!/*-objects/*/src/*/*/p_*
!/*-objects/*/src/*/*/utils/
!/*-objects/*/src/*/*/ArrayUtils/
/*-objects/*/src/*/*/e_*NC
/*-objects/*/src/*/*/p_*NC
*.pdf

### Gradle template
.gradle
/*/*/build/
/build/
gradle-app.setting
.gradletasknamecache

### Idea template
.idea/
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
